In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv("Facebook.csv")
data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [4]:
data.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [5]:
data.shape

(500, 19)

In [6]:
data.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [7]:
data.tail()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [8]:
data.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [9]:
subset1=data.iloc[:,:8]
subset1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach
0,139441,Photo,2,12,4,3,0.0,2752
1,139441,Status,2,12,3,10,0.0,10460
2,139441,Photo,3,12,3,3,0.0,2413
3,139441,Photo,2,12,2,10,1.0,50128
4,139441,Photo,2,12,2,3,0.0,7244
...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684
496,81370,Photo,2,1,5,8,0.0,3480
497,81370,Photo,1,1,5,2,0.0,3778
498,81370,Photo,3,1,4,11,0.0,4156
499,81370,Photo,2,1,4,4,NaN,4188

In [10]:
subset1.shape

(500, 8)

In [11]:
subset2=data.loc[0:199]
subset2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,133594,Photo,2,8,6,10,0.0,5282,8730,703,530,772,5123,3244,470,9,278.0,43.0,330
196,133594,Photo,1,8,6,8,0.0,1809,3130,399,359,494,2541,1435,289,2,64.0,7.0,73
197,133594,Photo,2,8,5,13,0.0,1920,3124,365,331,428,2541,1519,251,1,52.0,7.0,60
198,133451,Photo,1,8,4,9,1.0,1954,3530,356,333,443,3295,1772,252,0,30.0,2.0,32
199,132817,Photo,3,8,4,10,0.0,33536,64850,1954,1016,1678,50076,24448,1564,33,1155.0,102.0,1290

In [12]:
subset2.shape

(200, 19)

In [13]:
subset3=data[["Post Month","Post Weekday","Post Hour"]]
subset3

     Post Month  Post Weekday  Post Hour
0            12             4          3
1            12             3         10
2            12             3          3
3            12             2         10
4            12             2          3
..          ...           ...        ...
495           1             7          2
496           1             5          8
497           1             5          2
498           1             4         11
499           1             4          4

[500 rows x 3 columns]

In [14]:
subset3.shape

(500, 3)

In [15]:
subset4=data.iloc[:,7:14]
subset4

,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page
0,2752,5091,178,109,159,3078,1640
1,10460,19057,1457,1361,1674,11710,6112
2,2413,4373,177,113,154,2812,1503
3,50128,87991,2211,790,1119,61027,32048
4,7244,13594,671,410,580,6228,3200
...,...,...,...,...,...,...,...
495,4684,7536,733,708,985,4750,2876
496,3480,6229,537,508,687,3961,2104
497,3778,7216,625,572,795,4742,2388
498,4156,7564,626,574,832,4534,2452
499,4188,7292,564,524,743,3861,2200

In [16]:
subset4.shape

(500, 7)

In [33]:
subset5=data.loc[:,['Lifetime Post Total Reach','Lifetime Post Total Impressions']]
subset5

     Lifetime Post Total Reach  Lifetime Post Total Impressions
0                         2752                             5091
1                        10460                            19057
2                         2413                             4373
3                        50128                            87991
4                         7244                            13594
..                         ...                              ...
495                       4684                             7536
496                       3480                             6229
497                       3778                             7216
498                       4156                             7564
499                       4188                             7292

[500 rows x 2 columns]

In [34]:
subset5.shape

(500, 2)

In [35]:
print(subset1.shape)
print(subset5.shape)

merge1=subset1.merge(subset5)
merge1

(500, 8)
(500, 2)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions
0,139441,Photo,2,12,4,3,0.0,2752,5091
1,139441,Status,2,12,3,10,0.0,10460,19057
2,139441,Photo,3,12,3,3,0.0,2413,4373
3,139441,Photo,2,12,2,10,1.0,50128,87991
4,139441,Photo,2,12,2,3,0.0,7244,13594
...,...,...,...,...,...,...,...,...,...
525,85093,Photo,3,1,7,2,0.0,4684,7536
526,81370,Photo,2,1,5,8,0.0,3480,6229
527,81370,Photo,1,1,5,2,0.0,3778,7216
528,81370,Photo,3,1,4,11,0.0,4156,7564
529,81370,Photo,2,1,4,4,NaN,4188,7292

In [36]:
merge1.shape

(530, 9)

In [39]:
print(subset3.columns)
print(subset4.columns)
merge2=pd.concat([subset3,subset4])
merge2

Index(['Post Month', 'Post Weekday', 'Post Hour'], dtype='object')
Index(['Lifetime Post Total Reach', 'Lifetime Post Total Impressions',
       'Lifetime Engaged Users', 'Lifetime Post Consumers',
       'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page'],
      dtype='object')

,Post Month,Post Weekday,Post Hour,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page
0,12.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12.0,3.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12.0,2.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
495,NaN,NaN,NaN,4684.0,7536.0,733.0,708.0,985.0,4750.0,2876.0
496,NaN,NaN,NaN,3480.0,6229.0,537.0,508.0,687.0,3961.0,2104.0
497,NaN,NaN,NaN,3778.0,7216.0,625.0,572.0,795.0,4742.0,2388.0
498,NaN,NaN,NaN,4156.0,7564.0,626.0,574.0,832.0,4534.0,2452.0
499,NaN,NaN,NaN,4188.0,7292.0,564.0,524.0,743.0,3861.0,2200.0

In [22]:
merge2.shape

(1000, 10)

In [23]:
transpose=data.transpose()
transpose

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119

In [24]:
transpose.shape

(19, 500)

In [25]:
sort_values=data.sort_values(by="Post Month")
sort_values

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119
475,86909,Photo,3,1,6,16,1.0,5754,9238,1179,1143,1452,6101,3546,420,0,65.0,19.0,84
476,86909,Photo,1,1,6,10,1.0,37088,10966,2728,2288,3183,66311,34352,2021,7,579.0,47.0,633
477,86909,Link,1,1,6,4,0.0,39600,7927,572,496,581,12522,8176,167,1,101.0,5.0,107
478,86909,Photo,3,1,5,13,0.0,5536,8745,1141,1099,1461,5225,3098,483,1,74.0,31.0,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,138895,Video,1,12,4,11,1.0,36208,61262,1141,1068,1728,30131,14112,559,18,143.0,13.0,174
28,138895,Photo,2,12,5,3,0.0,9560,18264,973,559,885,9217,4748,621,36,523.0,63.0,622
27,138458,Photo,3,12,5,3,0.0,2478,4306,212,124,149,2612,1443,166,0,100.0,17.0,117
38,138895,Status,2,12,7,9,0.0,17576,33058,5352,5202,6547,23135,11792,4104,11,227.0,31.0,269
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100

In [26]:
sort_values.shape

(500, 19)

In [41]:
# Pandas melt() function is used to change the DataFrame format from wide to long

reshape=data.melt(id_vars=["Type","Category"],value_vars=["Post Month","Post Weekday"])
reshape

       Type  Category      variable  value
0     Photo         2    Post Month     12
1    Status         2    Post Month     12
2     Photo         3    Post Month     12
3     Photo         2    Post Month     12
4     Photo         2    Post Month     12
..      ...       ...           ...    ...
995   Photo         3  Post Weekday      7
996   Photo         2  Post Weekday      5
997   Photo         1  Post Weekday      5
998   Photo         3  Post Weekday      4
999   Photo         2  Post Weekday      4

[1000 rows x 4 columns]

In [28]:
reshape.shape

(1000, 4)